<div class="container">
  <div class="login-form">
    <form>
      <img src="https://devocdata.blob.core.windows.net/images-f5af6230fc6a/ffca316bfffa42309f6eae4a590af3f1-97440a8ac1fe4beca63f18c8f3ac2fa9-OfferCraftLogo.png" class="img-responsive">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </div>
      <div class="clearfix">
        <a href="#">Forgot your Password?</a>
      </div>
    </form>
  </div>
</div>
