<nav *ngIf="getTokenData('clientName')" class="navbar navbar-expand-lg bg-primary" >
  <a class="navbar-brand" href="#"><img src="https://devocdata.blob.core.windows.net/images-f5af6230fc6a/ffca316bfffa42309f6eae4a590af3f1-97440a8ac1fe4beca63f18c8f3ac2fa9-OfferCraftLogo.png" style="max-width: 150px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="home">Home</a>
      <a class="nav-item nav-link" href="offer">Offers</a>
      <a class="nav-item nav-link" href="coupon">Coupons</a>
      <a class="nav-item nav-link" href="dashboard">Dashboards</a>
      <ul>
        <li class="nav-item dropdown navbar-right">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{getTokenData('displayName')}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span  class="dropdown-item account-name" >{{getTokenData('clientName')}} Acc</span>
            <a class="dropdown-item" href="profile">Profile</a>
            <a class="dropdown-item" href="system">System</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>LogOut</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>




