<div class="container">
  <div class="profile-form">
  <div class="card">
    <div class="card-header bg-primary"><h4>User Profile</h4></div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Login</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" name="Login" placeholder="Login" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" name="First Name" placeholder="First Name" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" name="Last Name" placeholder="Last Name" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Pin Code</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" name="Pin Code" placeholder="Pin Code" required="required">
          </div>
        </div>
        <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="allowUserSearch">
          <label class="form-check-label" for="allowUserSearch">
            Allow User Search in Redemption Portal
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="allowUserPrint">
          <label class="form-check-label" for="allowUserPrint">
            Allow User Print On Redemption Portal
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="allowUserReprint">
          <label class="form-check-label" for="allowUserReprint">
            Allow User Reprint On Redemption Portal
          </label>
        </div>
        </div>
        <div class="form-group col-sm-2 offset-sm-2">
          <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
